html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: sans-serif;
}

div {
  position: relative;
  box-sizing: border-box;
}

#uploaded {

  width: 60%;
  margin: 5em auto 0 auto;
}

  #uploaded > .header {

    position: absolute;
    width: 100%;
    top: -4.5em;
    padding: 1em;
    text-align: center;
    border-bottom: 2px solid #eee;
  }

    #uploaded > .header > .title {

      font-weight: 900;
      font-size: 1.25em;
      line-height: .75em;
      letter-spacing: -1px;
    }

    #uploaded > .header > .attribution {

      float: left;
    }

    #uploaded > .header > .launch-btn {

      float: right;
    }

  #uploaded > .upload {

    margin-bottom: 1.5em;
    display: inline-block;
    transition: width 1s ease-in-out, height 1s ease-in-out;
  }

    #uploaded > .upload > img {

      max-height: 50vh;
      max-width: 90%;
    }

      #uploaded > .upload:first-of-type > img {
        max-width: 45%;
        max-height: 25vh;
      }

  #uploaded > .footer {

    background-color: #eee;
    color: #bbb;
    padding: 1em;
    text-align: center;
  }