html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

#uploaded {

  width: 60%;
  margin: 3em auto 0 auto;
}

#uploaded > .upload {

  position: relative;
  margin-bottom: 1.5em;
}

#uploaded > .upload > img {

  max-height: 50vh;
  max-width: 90%;
}